.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    background: #445162;
    padding: 50px 50px 55px;
        display: flex;
    justify-content: space-between;
}

.product-name {
    color: white;
}

.logo {
    width: 469px;
    background: white;
}

.about-product {
    background: #ffffff;
    padding: 50px 50px 55px;
    display: flex;
    justify-content: space-between;
}

.your-product {
    color: #445161;
    max-width: 650px;
}

.logo1 {
    width: 430px;
    background: #445161;
}

.pluses-product {
    padding: 50px 50px 55px;
    background: #f5f5f5;
}

.pluses-title {
    text-align: center;
}
.pluses-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pluses-list-item {
    width: 50%;
}
 
